{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>


    <!-- Recipes of user -->
    <div class="row">
        <div class="col s5 m4 offset-m2">
            <h5>My recipes</h5>
        </div>
        <div class="col s7 m4 right">
            <h5><a href="{{ url_for('add_recipe') }}" class="black-cta">Add new recipe +</a></h5>
        </div>
        <!-- All recipes of user -->
        <div>
        <div class="col s12 m8 offset-m2">
            <ul class="collapsible">
                {% for recipe in uza %}
                    <li>
                        <div class="collapsible-header">
                            <div class="col s2">
                                <i class="fas fa-caret-down"></i> 
                            </div>
                            <div class="col s5">
                                <h5>{{ recipe.recipe_name }}</h5>
                            </div>
                            <!-- Delete and edit recipe-->
                            <div class="col s5">
                                <!-- Modal delete Trigger -->
                                <a class="modal-trigger change-button center align right" href="#modal{{ loop.index }}">Delete</a>
                                <!-- Modal delete Structure -->
                                <div id="modal{{ loop.index }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Are you sure you want to delete {{ recipe.recipe_name }}?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="modal-close  btn-flat">Cancel</a>
                                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close btn-flat">Delete</a>
                                    </div>
                                </div>
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id, cuisines=cuisines) }}" class="change-button center align right right">Edit</a>
                            </div>
                        </div>
                        <!-- Collapse body with all info of the recipe -->
                        <div class="collapsible-body">
                            <h6><a class = "black-cta right" href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">Go to recipe</a></h6>
                            <h6>category: {{ recipe.category_name }}</h6>
                            <h6>Serves: {{ recipe.serves }}</h6>
                            <h6>Prepping time: {{ recipe.prep_time }}</h6>
                            <h6>Ingredients: {{ recipe.ingredients }}</h6>
                            <h6>Instructions: {{ recipe.instructions}}</h6>
                            <h6>Tips: {{ recipe.tips}}</h6>
                            <h6>Created By: {{ recipe.author}}</h6>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    </div>

{% endblock %}