<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Africa Delish</title>
</head>
<body>

    {% for recipe in recipes %}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.img_url }}<br>
        {{ recipe.date_posted }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.simple_description }}<br>
        {{ recipe.cook_duration }}<br>
        {{ recipe.prep_duration }}<br>
        {{ recipe.cook_direction }}<br>
        {{ recipe.vegan }}<br>
        {{ recipe.adult_plates }}
        {{ recipe.author }}<br>

    {% endfor %}
    
</body>
</html>